[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
shipbase
wing_01_r
wing_02_r
wingEngine_01_r
wingEngine_02_r
wingEngine_flerp_01_r
wingEngine_flerp_02_r
cable_01_01_r
cable_01_02_r
cable_01_03_r
cable_01_04_r
cable_02_01_r
cable_02_02_r
cable_02_03_r
cable_02_04_r
wing_01_l
wing_02_l
wingEngine_01_l
wingEngine_02_l
wingEngine_flerp_02_l
wingEngine_flerp_01_l
cable_01_01_l
cable_01_02_l
cable_01_03_l
cable_01_04_l
cable_02_01_l
cable_02_02_l
cable_02_03_l
cable_02_04_l
wing_back_01_l
wing_back_02_l
wing_back_02_r
wing_back_01_r
enging_01_l
enging_02_l
enging_01_r
enging_02_r
lamp_r
lamp_l
cargo
ContainerLid
holder
holdercable_l
holdercable_r
piston_01
CargoFunnel
piston_02
LowerBase
BaseLeg_l
BaseLegUpper
BaseLeg_r
